In [1]:
import pandas as pd

C:\Users\USER\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
C:\Users\USER\AppData\Local\Temp\ipykernel_9236\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
print(pd.__version__)

2.2.0

In [3]:
df = pd.read_csv('insurance.csv')

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.sample()

     age   sex    bmi  children smoker     region    charges
804   23  male  26.51         0     no  southeast  1815.8759

### Label Encoder => sex column

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
Le = LabelEncoder()

In [8]:
df['sex']= Le.fit_transform(df[['sex']])

C:\Users\USER\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
df

      age  sex     bmi  children smoker     region      charges
0      19    0  27.900         0    yes  southwest  16884.92400
1      18    1  33.770         1     no  southeast   1725.55230
2      28    1  33.000         3     no  southeast   4449.46200
3      33    1  22.705         0     no  northwest  21984.47061
4      32    1  28.880         0     no  northwest   3866.85520
...   ...  ...     ...       ...    ...        ...          ...
1333   50    1  30.970         3     no  northwest  10600.54830
1334   18    0  31.920         0     no  northeast   2205.98080
1335   18    0  36.850         0     no  southeast   1629.83350
1336   21    0  25.800         0     no  southwest   2007.94500
1337   61    0  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### one hot encoding encoder => smoker

In [10]:
df.smoker.value_counts()

smoker
no     1064
yes     274
Name: count, dtype: int64

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
ohe = OneHotEncoder(drop='first', sparse = False)

In [13]:
df['smoker'] = ohe.fit_transform(df[['smoker']],[['no','yes']] )

C:\Users\USER\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [14]:
df

      age  sex     bmi  children  smoker     region      charges
0      19    0  27.900         0     1.0  southwest  16884.92400
1      18    1  33.770         1     0.0  southeast   1725.55230
2      28    1  33.000         3     0.0  southeast   4449.46200
3      33    1  22.705         0     0.0  northwest  21984.47061
4      32    1  28.880         0     0.0  northwest   3866.85520
...   ...  ...     ...       ...     ...        ...          ...
1333   50    1  30.970         3     0.0  northwest  10600.54830
1334   18    0  31.920         0     0.0  northeast   2205.98080
1335   18    0  36.850         0     0.0  southeast   1629.83350
1336   21    0  25.800         0     0.0  southwest   2007.94500
1337   61    0  29.070         0     1.0  northwest  29141.36030

[1338 rows x 7 columns]

### Ordinal encoder => region

In [15]:
df.region.nunique()

4

In [16]:
df.region.value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [17]:
from sklearn.preprocessing import OrdinalEncoder

In [18]:
oe = OrdinalEncoder(categories=[['southeast', 'northeast', 'northwest', 'southwest']])

In [19]:
df.region = oe.fit_transform(df[['region']])

In [20]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0     1.0     3.0  16884.92400
1      18    1  33.770         1     0.0     0.0   1725.55230
2      28    1  33.000         3     0.0     0.0   4449.46200
3      33    1  22.705         0     0.0     2.0  21984.47061
4      32    1  28.880         0     0.0     2.0   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3     0.0     2.0  10600.54830
1334   18    0  31.920         0     0.0     1.0   2205.98080
1335   18    0  36.850         0     0.0     0.0   1629.83350
1336   21    0  25.800         0     0.0     3.0   2007.94500
1337   61    0  29.070         0     1.0     2.0  29141.36030

[1338 rows x 7 columns]